<% provide(:title, "Create Board") %>
<h1>Create Board</h1>

<div class = "row">
	<div class = "span6 offset">
		<%= form_for(@board) do |board| %>
			<%= render 'shared/error_messages', object: @board %>
			
			<%= board.label :name %>
			<%= board.text_field :name %>
			
			<%= board.label :timezone %>
			<%= board.time_zone_select(:timezone) %>
			
			<%= board.label :width %>
			<%= board.text_field :width %>
			
			<%= board.label :height %>
			<%= board.text_field :height %>
			
			<input type="submit" value="Create board">
			
		<% end %>
	</div>
</div>	