<% provide(:title, @board.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @board.name %>
      </h1>
        <div><%= @board.timezone %></div>
		<div><%= "Created by: #{@board.user.name}" %></div>
		<div><%= "Width: #{pluralize(@board.width, 'tile')}" %></div>
		<div><%= "Height: #{pluralize(@board.height, 'tile')}" %></div>
		
		<div><%= button_to "Create advertisement", new_board_advertisement_path(@board), query: @board.id, class: "btn btn-medium btn-primary", method: 'get' %></div>
		<div class = "ad_container" id="board" style="position: relative; box-shadow: 0px 0px 3px #000000; width: <%= Integer(@board.width) * 64 %>px; height: <%= Integer(@board.height) * 64 %>px;">
			<% @board.advertisements.each do |advertisement| %>
				<div style="position: absolute; left: <%= advertisement.x_location * 64 %>px; top: <%= advertisement.y_location * 64 %>px; width: <%= advertisement.width * 64 %>px; height: <%= advertisement.height * 64 %>px; background: url('/images/<%= advertisement.id %>');"></div>
			<% end %>
    </section>
</div>