<% provide(:title, @board.name) %>
<div class="hero-unit">
      <h1>
        <%= @board.name %>
      </h1>
      <h2>
        <%= "Created by: #{@board.user.name}" %>
      </h2>
      <%= button_to "Create advertisement", new_board_advertisement_path(@board), query: @board.id, class: "btn btn-medium btn-primary", method: "get" %>
</div>
<div id = "info" style: "margin: 0 auto;">
<h4 style = "margin-bottom: 15px;">
      Board Information = 
      <%= "Width: #{pluralize(@board.width, 'tile')}" %> |
      <%= "Height: #{pluralize(@board.height, 'tile')}" %> |
      <%= "Timezone: #{@board.timezone}" %>
</h4>
</div>

<hr>

<h2>Advertisement Listing </h2>
<ol class="ads">
  <% @ads.each do |ad| %>
  <li>
    
    <%= "Username: #{ad.user.name}" %> |
    <%= "Width: #{pluralize(ad.width, 'tile')}" %> |
    <%= "Height: #{pluralize(ad.height, 'tile')}" %> |
    <%= "X Location: #{ad.x_location}" %> |
    <%= "Y Location: #{ad.y_location}" %> 
  
  </li>
  
   <% end %>
</ol>

<% @count = 1 %>



<div id = 'boarder', class="board" style= "border: 2px solid black; position: relative; width: <%= Integer(@board.width) * 64 %>px; height: <%= Integer(@board.height) * 64 %>px;">

  <div class="ad_container" style= "position: relative; margin-left: 0px; width: <%= Integer(@board.width) * 64 %>px; height: <%= Integer(@board.height) * 64 %>px; z-index: 0; display: block;">
        <% @board.advertisements.each do |advertisement| %>

                <img src="<%= url_for(:controller => "images", :action => "show", :id => advertisement.id)%>" id="<%= "ad_#{advertisement.id}_image" %>" style="position: absolute; left: <%= advertisement.x_location * 64 %>px; top: <%= advertisement.y_location * 64 %>px; width: <%= advertisement.width * 64 %>px; height: <%= advertisement.height * 64 %>px; z-index: <%= advertisement.id %> ; padding: 0px; margin:0px;">
        <% @count = @count + 1 %>
        <% end %>
  </div>
    
</div>
